<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="layout/base :: content">
<body>
<h2>Manage Jobs</h2>
<a class="btn btn-primary mb-3" href="/admin/jobs/new">Create Job</a>
<table class="table table-striped">
  <thead>
  <tr>
    <th>Title</th>
    <th>Location</th>
    <th>Experience</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="j : ${jobs.content}">
    <td th:text="${j.title}">Title</td>
    <td th:text="${j.location}">Location</td>
    <td th:text="${j.experienceLevel}">Exp</td>
  </tr>
  </tbody>
</table>
</body>
</html>